target
bin
package-lock.json

# mac
.DS_Store
backend/.factorypath
backend/.classpath
backend/.settings/org.eclipse.core.resources.prefs
backend/.project
backend/.settings/org.eclipse.jdt.apt.core.prefs
backend/.settings/org.eclipse.jdt.core.prefs
backend/.settings/org.eclipse.m2e.core.prefs
package-lock.json
node_modules
